imageio # (Optional) Image-to-GIF conversion
keras
matplotlib # Plot generation
numpy
pandas
requests
six # Python2 and Python3 compatibility
tensorflow # (Optional) Keras backend, replaceable with other backends
